#pokeDex {
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

h1 {
    font-family: 'Carter One', cursive;
    text-align: center;
    font-size: 3.5rem;
    background: -webkit-linear-gradient(rgb(255, 221, 0), rgb(255, 213, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 2px blue);
}